<template>
  <div class="w-full">
      <nav class="py-3 flex items-center justify-between flex-wrap">
        <div>
          <button type="button" class="inline-flex items-center px-5 py-1 border border-gray-200 rounded-md text-base text-gray-100 bg-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <!-- Heroicon name: solid/check -->
            <svg width="10" height="16" viewBox="0 0 10 16" fill="none" class="mr-2" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 1L2 8L9 15" stroke="#969696" stroke-width="2"/>
            </svg>
            Back
          </button>
        </div>
        <div>
          <button class="border-gray-base rounded-full p-2 bg-gray-base">
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L11 11" stroke="#969696" stroke-width="2"/>
              <path d="M11 1L1 11" stroke="#969696" stroke-width="2"/>
            </svg>
          </button>
        </div>
      </nav>
    <p class="text-2xl leading-big font-bold">Add Insight</p>
    <div class="flex bg-blue-500 p-8 text-white" style="background-size: contain;  background-repeat: no-repeat;"
         :style="{'background-image': 'url(' + require('@/assets/backgroundFrame.svg') + ')'}">
      <div class="flex flex-1 items-start justify-center">
        <div class="p-4 rounded-md bg-white">
          <svg width="79" height="91" viewBox="0 0 79 91" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M69.0526 17.689C68.9906 17.2386 68.596 16.9894 68.2698 16.9619C67.9443 16.9348 61.0547 16.4242 61.0547 16.4242C61.0547 16.4242 56.2698 11.6752 55.7446 11.1495C55.2191 10.6242 54.1929 10.784 53.7945 10.9012C53.7359 10.9185 52.7491 11.2229 51.1168 11.7279C49.5184 7.12971 46.6976 2.90414 41.7349 2.90414C41.5979 2.90414 41.4569 2.90969 41.3159 2.91771C39.9045 1.05171 38.1562 0.241028 36.6461 0.241028C25.0858 0.241028 19.5628 14.6887 17.8312 22.0306C13.3391 23.4221 10.148 24.4114 9.74037 24.5394C7.23298 25.3257 7.15368 25.4047 6.82445 27.7667C6.57667 29.555 0.0160065 80.2782 0.0160065 80.2782L51.1381 89.854L78.8378 83.8633C78.8378 83.8633 69.114 18.1394 69.0529 17.689H69.0526ZM48.2913 12.6015L43.9655 13.94C43.9671 13.6353 43.9686 13.3354 43.9686 13.0075C43.9686 10.1497 43.5718 7.84877 42.9353 6.02473C45.4923 6.34555 47.1953 9.25421 48.2913 12.6015ZM39.7632 6.59141C40.4742 8.37227 40.9364 10.928 40.9364 14.3768C40.9364 14.5533 40.9348 14.7146 40.9333 14.8778C38.1201 15.749 35.0632 16.6948 31.9995 17.6436C33.7197 11.0064 36.9442 7.80065 39.7632 6.59141ZM36.3286 3.34095C36.8276 3.34095 37.3302 3.5103 37.8113 3.8413C34.1063 5.58422 30.1351 9.9739 28.4581 18.74L21.3963 20.9265C23.3606 14.2402 28.0249 3.34095 36.3283 3.34095H36.3286Z"
                fill="#95BF46"/>
            <path
                d="M68.2694 16.9612C67.9439 16.934 61.0543 16.4235 61.0543 16.4235C61.0543 16.4235 56.2694 11.6745 55.7442 11.1488C55.5477 10.9532 55.2826 10.853 55.0055 10.8098L51.1402 89.8526L78.8374 83.8626C78.8374 83.8626 69.1133 18.1387 69.0522 17.6883C68.9902 17.2379 68.5956 16.9886 68.2694 16.9612Z"
                fill="#5E8E3E"/>
            <path
                d="M41.7344 32.2624L38.3189 42.4195C38.3189 42.4195 35.3265 40.8228 31.6583 40.8228C26.2806 40.8228 26.01 44.1966 26.01 45.0468C26.01 49.6857 38.1057 51.4632 38.1057 62.3291C38.1057 70.878 32.6821 76.3829 25.3691 76.3829C16.5936 76.3829 12.1059 70.9227 12.1059 70.9227L14.4556 63.1614C14.4556 63.1614 19.0686 67.1207 22.9611 67.1207C25.5046 67.1207 26.5392 65.1187 26.5392 63.6559C26.5392 57.6047 16.6158 57.3348 16.6158 47.3916C16.6158 39.0228 22.6242 30.9243 34.7525 30.9243C39.4257 30.9243 41.7344 32.2624 41.7344 32.2624Z"
                fill="white"/>
          </svg>
        </div>
        <div class="ml-4 text-left">
          <p class="font-bold text-2xl leading-3">Ecommerce Intelligence App</p>
          <p class="my-2">Standartize experience data collection
            with Datos Capture</p>
          <button class="rounded font-bold bg-green-400 px-4 text-blue-500 py-2">Get a demo</button>
        </div>
      </div>
      <div class="flex flex-wrap flex-1">
        <div class="w-1/3 text-left"><p class="text-blue-50 pb-3">Experience</p>
          <p>B2B Customer /EXPERIENCE TYPE
          </p></div>
        <div class="w-1/3 text-left"><p class="text-blue-50 pb-3">Function</p>
          <p>Responding in the moment
          </p></div>
        <div class="w-1/3 text-left"><p class="text-blue-50 pb-3">Created by</p>
          <p>AA Team
          </p></div>
        <div class="w-1/3 text-left"><p class="text-blue-50 pb-3 pt-5">Industry</p>
          <p>Multi Industry</p></div>
        <div class="w-1/3 text-left"><p class="text-blue-50 pb-3 pt-5">Languages</p> <p>English</p></div>
        <div class="w-1/3 text-left"><p class="text-blue-50 pb-3 pt-5">Cost</p> <p>Get a Quote</p></div>
      </div>
    </div>
    <div class="my-6 flex text-gray-100 items-center">
      <div>Summary</div>
      <div class="px-4 rounded-sm ml-3 py-2 bg-gray-base">Details</div>
    </div>
    <div class="flex justify-between">
      <div class="w-1/2">
        <h2 class="font-bold leading-3 mb-2 text-2xl">What You Get</h2>
        <p class="leading-snug">

          Health systems and all providers across the continuum can now easily identify drivers influencing patient
          satisfaction in less time with a pre-built solution designed by healthcare <br><br>

          industry experts. We’ll help you deploy a best-in-class, real-time patient experience program to better
          coordinate care, empower your front line with insights, and truly improve hospital service and patient care.
          Health systems and all providers across the continuum can now easily <br><br>

          identify drivers influencing patient satisfaction in less time with a pre-built solution designed by
          healthcare industry experts. We’ll help you deploy a best-in-class, real-time patient experience program to
          better coordinate care, empower your front line with insights, and truly improve hospital service and patient
          care.

        </p>
        <div class="flex my-12">
          <div>
            <img src="@/assets/example1.svg">
          </div>
          <div class="ml-3">
            <img src="@/assets/example1.svg">
          </div>
        </div>

        <div>
          <h2 class="font-bold leading-3 mb-2 text-2xl">Additional Resource</h2>
          <p class="leading-snug">

            Health systems and all providers across the continuum can now easily identify drivers influencing patient
            satisfaction in less time with a pre-built solution designed by healthcare <br><br>
            industry experts. We’ll help you deploy a best-in-class, real-time patient experience program to better
            coordinate care, empower your front line with insights, and truly improve hospital service and patient care.
            Health systems and all providers across the continuum can now easily
          </p>
        </div>
      </div>
      <div class="w-1/3 h-full p-12 bg-teal-100 rounded-5px">
        <h2 class="font-bold leading-3 mb-2 text-2xl">Business impact</h2><br>
        <p class="leading-relaxed">
          <span class="font-bold">1 - </span>Responding in the moment leads to higher quality insights
          <br><br>
          <span class="font-bold">2 - </span>Chatbots and AI reduce operating costs and make feedback more scalable
          <br><br>
          <span class="font-bold">3 - </span>Flip interactions into opportunities to delight and exceed expectations
        </p>
        <div class="mt-8">
        <p class="font-bold mb-3 leading-snug">Categories Tags
        </p>
        <div class="flex flex-wrap">
          <div class="bg-teal-200 px-3 m-2 ml-0 py-1">Customer Experience</div>
          <div class="bg-teal-200 px-3 m-2 ml-0 py-1">Integration</div>
          <div class="bg-teal-200 px-3 m-2 ml-0 py-1">Testing</div>
          <div class="bg-teal-200 px-3 m-2 ml-0 py-1">Wow</div>
        </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'homepage'
  }
</script>
