<template>
  <div id="app" class="m-8 bg-white">
    <homepage msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
import homepage from './components/Homepage.vue'

export default {
  name: 'App',
  components: {
    homepage
  }
}
</script>

<style>
#app {
  font-family: Helvetica Neue,serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
